/* estilos generales */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  height: 100vh;
}

header {
  height: 10%;
}


section {
  height: 200px;
}

#user {
  padding: 0;
}

#circle{
  width: 160px;
  height: 160px;
  border: 2px solid;
  padding: 0;
  border-radius: 50%;
}

#circle img {
  width: 70%;
  height: 60%;
}

#login-form {
  height: 230px;
}

.inputs {
  height: 50px;
}

.inputs input[type="text"] {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  outline: none;
  border: 2px solid;
  transition: all 0.3s;
  color: #000;
  font-weight: bolder;
}

.inputs input[type="password"] {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  outline: none;
  border: 2px solid;
  border-top: 0;
  transition: all 0.3s;
  color: #000;
  font-weight: bolder;
}

.inputs input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.inputs input::placeholder{
  color: #000;
  font-weight: bolder;
}

.inputs i {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 16px;
}

#inp-submit {
  height: 80px;
}

#inp-submit input{
  height: 50px;
  border: 0;
  color: #fff;
  font-weight: bolder;
}

#alerta {
  height: 50px;
}